@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css");

html,
body {
  height: 100%;
  margin: "auto";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}

hr.style1 {
  border-top: 1px solid #8c8b8b;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: white;
}

th,
td {
  text-align: left;
  padding: 2px 5px;
  border: 1px solid black;
}

thead {
  background-color: rgba(8, 10, 134, 1);
  color: black;
}

tr:nth-child(odd) {
  background-color: rgba(113, 115, 192, 0.5);
}
tr:nth-child(even) {
  background-color: rgba(68, 56, 173, 0.5);
}

.newItem {
  opacity: 0;
  -webkit-animation: grow 1s ease-in-out forwards;
  overflow: hidden;
  white-space: nowrap;
  line-height: 0px;
  animation: grow 1s ease-in-out forwards;
}

tr.served {
  background-color: forestgreen;
}
tr:nth-child(odd).served {
  background-color: forestgreen;
}
tr:nth-child(even).served {
  background-color: seagreen;
}

tr:hover,
tr.served:hover {
  background-color: coral;
}

@-webkit-keyframes grow {
  to {
    line-height: 120%;
    opacity: 1;
  }
}
@keyframes grow {
  to {
    line-height: 120%;
    opacity: 1;
  }
}

.containerSection {
  background-color: "fff;";
}

.containerSection > label {
  border-bottom: 1px solid #416378;
  background-color: #174a69;
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  margin: 0;
  color: #fff;
  position: relative;
  font-size: 18px;
}

.containerSection > label::after {
  content: "\271B";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0.5;
  font-weight: 100;
  font-size: 16px;
}

.containerSection > div {
  color: #666;
  max-height: 0;
  visibility: hidden;
  padding: 0 20px;
  opacity: 0;
  transition: all 0.8s ease;
}

.containerSection > input {
  display: none;
}

.containerSection > input:checked + label + div {
  max-height: 100vh;
  visibility: visible;
  opacity: 1;
  padding: 20px;
}

.containerSection > input:checked + label::after {
  content: "\268A";
}
